.main-title {
    font-family: 'RobotoFlex', sans-serif;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
}
.main-title i {
    justify-content: end;
}

.main-title h1 {
    font-size: 1.5rem; 
    font-weight: 600;
    padding: 0;
    margin: 0;   
}

.line {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding-left: 0; 
    padding-right: 0;
}