

.logo{
    width: 80px;
    height: 80px;
}

.logo__svg {
    padding: 10px;
}

.logo__text {
    font-family: "Oswald-Medium", sans-serif;
    font-size: 2rem;
    color: #000000;
    margin-left: 5px;
}